{% extends 'base.html.twig' %}

{% block navigation %}
    <header>
        <nav class="container mb-5 mt-5">
            <ul class="row">
                <li class="col d-flex justify-content-center">
                    <a href="{{ path('client_home') }}">home</a>
                </li>
                <li class="col d-flex justify-content-center">
                    <a href="{{ path('client_movie_list') }}">movies</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="col d-flex justify-content-center">
                        <a href="{{ path('client_booking_new') }}">book a session</a>
                    </li>
                    <li class="col d-flex justify-content-center">
                        <a href="{{ path('client_booking_list') }}">my bookings</a>
                    </li>
                    <li class="col d-flex justify-content-center">
                        <a class="btn btn-danger color-white" href="{{ path('app_logout') }}">log out</a>
                    </li>
                {% else %}
                    <li class="col d-flex justify-content-center">
                        <a href="{{ path('client_register') }}">sign in</a>
                    </li>
                    <li class="col d-flex justify-content-center">
                        <a class="btn btn-success color-white" href="{{ path('app_login') }}">log in</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
{% endblock %}
{% block body %}
    <main class="container">
        <section class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </main>
{% endblock %}